.js .nav-collapse
  @include media($large-screen)
    overflow: inherit
header
  display: flex
  flex-direction: column
  position: relative
  @include media($large-screen) 
    align-items: center
    flex-direction: row
    justify-content: space-between
  a.header-Logo
    padding: 2em 
    position: relative
    top: 0.25em
    @include media($large-screen)
      padding: 0 0 0 0.2rem
    img
      display: block

nav.header-menu
  width: 100%
  font-size: 0.8em
  @include media($large-screen)
    width: 75%

ul.nav
  list-style: none
  text-transform: uppercase
  background: lighten($color-text,72)
  width: 100%
  @include media($large-screen) 
    background: transparent
    padding: 3em 1em 3em 0
    text-align: right
  li
    margin: 0
    white-space: nowrap
    width: 90%
    margin: auto
    z-index: 10
    position: relative
    @include media($large-screen) 
      padding: 0 0 0 1.5em
      width: auto
      display: inline-block
    &:hover,
    &:focus
      ul.sub-nav
        display: block
      >a
        color: darken($color-primary,30)
        border-color: lighten($color-text,20)

  a 
    box-sizing: border-box
    color: lighten($color-text,12)
    display: block
    font-weight: 600
    line-height: 3em
    transition: border-color 0.4s
    @include media($large-screen) 
      border-bottom: 1px solid transparent
      border-top: 1px solid transparent
      line-height: 2em
      padding-top: 0.2em
    &:hover,
    &:focus
      border-color: lighten($color-text,20)
      text-decoration: none

ul.sub-nav
  display: none
  padding: 0.5em 0
  @include media($large-screen) 
    text-align: left
    position: absolute
    // background: rgba(245,245,245,0.8)
    background: rgba(255,255,255,0.8)
    left: 0.5em
    top: 100%
    width: auto
    display: none
  li 
    padding: 0 1em
    display: block
    position: relative
    &:hover ul.subsub-nav,
    &:focus ul.subsub-nav
      display: block
    a 
      border-bottom: 1px solid lighten($color-text,60)
      &:hover
        border-bottom: 1px solid lighten($color-text,60)
        border-top: 1px solid transparent 

ul.subsub-nav
  padding: 0.5em 0
  display: none
  @include media($large-screen)
    position: absolute
    background: rgba(255,255,255,0.8)
    left: 100%
    top: -0.5em
    width: auto
    display: none
  li
    display: block

.nav-toggle
  position: absolute
  top: 1.3em
  color: $color-text
  text-decoration: none
  font-size: 2em
  right: 0.5em
  padding: 0
  background: lighten($color-text,75)
  &:hover,
  &:focus
    color: $color-text
    text-decoration: none
