extends ../_layout/default

block title
	title Mision - Vision
	meta(name='description', content='#####')

block body
	section.slide.slide-small
		.pictures
			+picture('1','')
			
	section.historia
		article.cont-text
			h2 Misión 
			p Facilitamos el trabajo de nuestros clientes, poniendo a su alcance inmediato todos los vidrios y materiales que necesitan para sus obras. 
	
			h2 Visión
			p Ser referencia de nuevas tendencias de usos y formas de aplicación del vidrio con la mejor tecnología, infraestructura y comodidad para nuestros clientes y colaboradores.

			h2 Filosofía
			ul
				li Responsabilidad, honestidad, calidad y búsqueda constante de las mejores opciones y soluciones para nuestros clientes.
				li Enfocados en la seguridad, comprometidos con la premisa de garantizar la de nuestros funcionarios, clientes y la del consumidor final.  
				li Capacitación para nuestros clientes y colaboradores, que les permitan desarrollar oportunidades en nuestro entorno dinámico y exigente.