extends ../_layout/default

block title
	title Trabaja con Nosotros 
	meta(name='description', content='Trabaja con Nosotros ')

block body
	figure.slide.slide-small
		.pictures
			include ../_includes/slide-laEmpresa
			
	section
		article.cont-text
			h2 Trabaja con Nosotros 
			p 
			| Si querés ser parte del equipo de trabajo Vidrioluz envianos tu curriculum a esta 
			a(href="mailto:rrhh@vidrioluz.com.py") dirección 
			| en breve nos pondremos en contacto contigo.