extends ../_layout/default

block title
	title Vidrioluz
	meta(name='description', content='#####')

block body
	section.slide.slide-small
		.pictures
			include ../_includes/slide-laEmpresa
			
	section
		article.cont-text
			h2 Vidrioluz
			p Somos una empresa Paraguaya que importa, procesa y distribuye materiales a todo el país desde 1984.
			p Nuestro producto principal es el vidrio, además de una amplia variedad de materiales que acompañan a su aplicación en la construcción y en la arquitectura.
			p Tenemos un centro de servicios equipado con tecnología y un grupo humano capacitado para servirte, no importa si eres un instalador pequeño o un contratista de gran escala, nosotros tenemos soluciones inteligentes. 
			p Nuestra propuesta en el mercado se trata de ofrecer calidad, puntualidad y buenos productos.
			p Bienvenido/a, echa un vistazo a nuestro sitio y busca información acerca de los vidrios, servicios y productos que ofrecemos. Mira ejemplos de aplicación de nuestros materiales en la galería de fotos. Lee porqué los vidrios laminados son los más seguros actualmente. O contáctanos inmediatamente para comenzar la mejor experiencia "cliente-proveedor" que has experimentado en la industria del vidrio.
