extends ../_layout/default

block title
	title Vidrios Flotados
	meta(name='description', content='#####')

block body
	//- include ../_pages/laEmpresa-historia

	section.slide.slide-small
		.pictures
			+picture('1','IMPONIENDO UNA TENDENCIA MODERNA Y VISIONARIA')

	section.vidrios-vidrio
		article.cont-textImg
			header
				h2 Vidrios Flotados
				a.atras(href="productos-vidrios") « VOLVER A PRODUCTOS
			.content
				figure: img(src="http://loremflickr.com/300/350/glasses", alt="")
				.text
					p Tradicionalmente denominado cristal plano, el vidrio Float o flotado es insustituible cuando se desea obtener una visión clara sin distorsión óptica y constituye la materia prima por excelencia para ser transformado en vidrio templado, laminado, fabricar espejo y manufacturar unidades de doble vidriado hermético.
					h4 Aplicación	
					p Como herramienta de diseño sus posibilidades están sólo limitadas por la creatividad de los usuarios y por los criterios de seguridad, que siempre deben ser tenidos en cuenta en todas las aplicaciones del vidrio plano en arquitectura, vehículos y componentes de equipamiento.




