extends ../_layout/default

block title
	title Vidrios Extra Claro
	meta(name='description', content='#####')

block body
	//- include ../_pages/laEmpresa-historia

	section.slide.slide-small
		.pictures
			+picture('1','IMPONIENDO UNA TENDENCIA MODERNA Y VISIONARIA')

	section.vidrios-vidrio
		article.cont-textImg
			header
				h2 Vidrios Extra Claro
				a.atras(href="productos-vidrios") « VOLVER A PRODUCTOS
			.content
				figure: img(src="http://loremflickr.com/300/350/glasses", alt="")
				.text
					p Los cristales Extra Claros son mucho más trasparentes que los vidrios normales, brindan una excelente claridad, garantizando colores verdaderos y calidad óptima en la visión.
					p A diferencia de un cristal tradicional, los extra claros no distorsionan los colores, son mucho más trasparentes que los normales, brindan una excelente claridad, garantizando colores verdaderos y calidad óptima en la visión.
					p Su canto transparente lo hace ideal para muebles, cubiertas, shower doors y cualquier elemento acristalado con su canto a la vista.


