extends ../_layout/default

block title
	title Vidrios Laminados
	meta(name='description', content='#####')

block body
	figure.slide.slide-small
		.pictures
			+slide-('Laminados','ban','1')

	section.vidrios-vidrio
		article.cont-textImg
			header
				include ../_includes/volver
			.content
				figure.slide.slide-content
					.pictures#pictures
						+slide-('Laminados','lat','1')
						+slide-('Laminados','lat','2')
						+slide-('Laminados','lat','3')
						+slide-('Laminados','lat','4')
						+slide-('Laminados','lat','5')
						+slide-('Laminados','lat','6')
						+slide-('Laminados','lat','7')
					.slide-navs
					.pictures.dos
						+slide-('Laminados','Infografia','1')
				.text
					h2 Laminados
					p Es considerado el vidrio de seguridad y protección por excelencia. Brinda seguridad a las personas y protección a bienes materiales ante intentos de robo y vandalismo, impidiendo el ingreso fácil a una propiedad por rotura de vidrios de puertas o ventanas.

					p Se fabrica mediante la adherencia de dos hojas de vidrio común a través de una lámina de plástico especial denominada polivinil butiral o PVB, firmemente unidas entre sí, de forma permanente, mediante un proceso de calor y presión en un horno autoclave.

					h4 Su principal característica
					p Ante un impacto es difícil atravesarlo porque tiene la propiedad de contener a la persona u objeto que golpeó contra el vidrio. Si llegare a romperse no se desploma, mantiene su estructura sin dejar caer ningún trozo de vidrio roto, conservándose íntegro en el lugar donde fue instalado, garantizando la seguridad de las personas y del lugar que protege.

					h4 Ventajas:
					ul
						h4 Seguridad
						li	Si llega a romperse, los pedazos rotos quedan adheridos a la lámina de PVB protegiendo a las personas de lesiones accidentales. 
						li	Actúan de barrera frente a actos de vandalismo o roturas intencionales, estos vidrios no se caen por lo tanto no dejan huecos libres o aberturas por donde ingresar. 
						h4 Aislación Acústica
						li	Brinda una efectiva reducción del ruido convirtiéndolo en una opción eficaz para ambientes libres de contaminación sonora.
						h4 Protege de la Radiación UV
						li	Filtra la radiación UV en más del 94%, evitando la decoloración prematura de las ropas de vidrieras, cortinados, tapizados, alfombras, muebles u objetos propensos a dañarse con los rayos del sol.
						h4 Practicidad
						li	Ante una necesidad inmediata, están listos al instante para su instalación
					h4 Aplicaciones
					p Se utilizan en puertas y ventanas de carpintería, divisorias, fachadas, techos, barandas, frentes de negocios o donde la seguridad de las personas y la protección de un lugar sea necesaria.
					+youtubeVideo('Qeu9lQ3Du_o')