
mixin vidrio(img, h3)
	a(href="productos-vidrios#{h3}.html").vidrio.folder
		figure
			img(src="http://loremflickr.com/200/100/glass?random=#{img}", alt="Vidrioluz - #{h3}")
		h3 #{h3}

extends ../_layout/default

block title
	title Productos Vidrios
	meta(name='description', content='#####')

block body
	section.slide.slide-small
		.pictures
			+picture('1','IMPONIENDO UNA TENDENCIA MODERNA Y VISIONARIA')

	section.vidrios
		h2 Vidrios
		section.folders
			+vidrio('1','Flotados')
			+vidrio('2','Templados')
			+vidrio('3','Laminados')
			+vidrio('4','Espejos')
			+vidrio('5','Reflectivos')
			+vidrio('6','Impresos')
			+vidrio('7','Coverglass')
			+vidrio('8','Opacos')
			+vidrio('9','Profilit')
			+vidrio('0','Extra Claros')

