extends ../_layout/default

block title
	title Vidrios Espejos
	meta(name='description', content='#####')

block body
	figure.slide.slide-small
		.pictures
			+slide-('Espejos','ban','1')

	section.vidrios-vidrio
		article.cont-textImg
			header
				include ../_includes/volver
			.content
				figure.slide.slide-content
					.pictures#pictures
						+slide-('Espejos','lat','1')
						+slide-('Espejos','lat','2')
						+slide-('Espejos','lat','3')
					.slide-navs
				.text
					h2 Espejos
					p Con virtudes casi mágicas, el espejo es considerado como el vidrio decorativo por excelencia. Su empleo adecuado permite duplicar o multiplicar las imágenes, creando la ilusión de ambientes más amplios y luminosos, proporcionando a menudo sensaciones espaciales sorprendentes. 
					p Optimirror® Plus es nuestro espejo de calidad premium.  Fabricado con tecnología Coper free y Lead free. Amigable con el medio ambiente, no genera residuos de cobre y plomo.
					p Es producido con cristal float incoloro o color, cuya calidad y durabilidad es comparable al mejor espejo producido en Europa o EE.UU. Posee una exclusiva doble capa de pintura de protección que asegura un espejo con larga vida útil sin que se modifiquen sus aspectos ni sus características.
					p Es más resistente a la humedad, oxidación, formación de manchas, corrosión en los bordes y es apto para procesos de corte, grabado y biselado.





