extends ../_layout/default

block title
	title Herrajes
	meta(name='description', content='#####')

block body
	//- include ../_pages/laEmpresa-historia

	section.slide.slide-small
		.pictures
			include ../_includes/slide-generico

	section.vidrios-vidrio
		article.cont-text
			header
				h2 Herrajes
				//- a.atras(href="productos-vidrios") « VOLVER A PRODUCTOS
			.content
				//- figure: img(src="http://loremflickr.com/300/350/glasses", alt="")
				.text
					p Es la fuerza que complementa, distingue y hace posible la instalación de vidrios. Tenemos una amplia variedad de soluciones e innovaciones para darle valor a su obra.


