extends ../_layout/default

block title
	title Vidrios Extra Claro
	meta(name='description', content='#####')

block body
	figure.slide.slide-small
		.pictures
			+slide-('ExtraClaros','ban','1')

	section.vidrios-vidrio
		article.cont-textImg
			header
				include ../_includes/volver
			.content
				figure.slide.slide-content
					.pictures#pictures
						+slide-('ExtraClaros','lat','1')
						+slide-('ExtraClaros','lat','2')
						+slide-('ExtraClaros','lat','3')
						+slide-('ExtraClaros','lat','4')
						//- +slide-('ExtraClaros','lat','5')
						//- +slide-('ExtraClaros','lat','6')
					.slide-navs
				.text
					h2 Extra Claro
					p Los cristales extra claros pertenecen a un grupo de vidrios extremadamente transparentes, brindan una excelente claridad y transmisión de luz, garantizando colores verdaderos, brillo y calidad óptima en la visión.
					p Cuando se utiliza un vidrio extra claro se logra una excepcional transparencia, ya que a diferencia de los vidrios comunes los extra claros no distorsionan los colores y tampoco presentan el reflejo verdoso que caracteriza a los vidrios tradicionales.
					p Con excelente pulcritud y cualidades estéticas este vidrio puede complementar vidrieras, tapas de mesas, muebles, mesas de vidrio, ventanas, aplicaciones donde los cantos de los vidrios quedarán visibles y donde la pureza de los colores sea deseada.


