extends ../_layout/default

block title
	title Opacid®
	meta(name='description', content='#####')

block body
	figure.slide.slide-small
		.pictures
			+slide-('Opacos','ban','1')

	section.vidrios-vidrio
		article.cont-textImg
			header
				include ../_includes/volver
			.content
				figure.slide.slide-content
					.pictures#pictures
						+slide-('Opacos','lat','1')
						+slide-('Opacos','lat','2')
						+slide-('Opacos','lat','3')
					.slide-navs
				.text
					h2 Opacid®
					p Opacid® es un vidrio satinado y fabricado al ácido. Este proceso permite obtener un vidrio difuso de color uniforme ideal para cualquier aplicación en la decoración y en la arquitectura moderna.
					h4 Características y ventajas
					ul
						li	Mantiene un color uniforme en toda su superficie
						li	No se mancha con la suciedad del ambiente o con huellas dactilares
						li	Puede ser templado
						li	Por su intermedio ofrece privacidad y elegancia
