
extends ../_layout/default

block title
	title Productos Vidrios
	meta(name='description', content='#####')

block body
	section.slide.slide-small
		.pictures
			include ../_includes/slide-generico

	section.vidrios
		h2 Vidrios
		section.folders
			+vidrio('Flotados','Flotados')
			+vidrio('Templados','Templados')
			+vidrio('Laminados','Laminados')
			+vidrio('Espejos','Espejos')
			+vidrio('Reflectivos','Reflectivos')
			+vidrio('Impresos','Impresos')
			+vidrio('Coverglass','Coverglass')
			+vidrio('Opacos','Opacos')
			+vidrio('Profilit','Profilit')
			+vidrio('ExtraClaros','Extra Claros')