extends ../_layout/default

block title
	title Vidrios Reflectivos
	meta(name='description', content='#####')

block body
	section.slide.slide-small
		.pictures
			+slide-('1','Reflectivos','ban')

	section.vidrios-vidrio
		article.cont-textImg
			header
				h2 Vidrios Reflectivos
				include ../_includes/volver
			.content
				+slide-('1', 'Reflectivos', 'lat')
				.text
					p Cool Lite® es la línea de vidrios laminados reflectivos diseñada para reducir significativamente el pasaje de calor de radiación solar hacia el interior de los edificios. Sus diferentes colores son visibles por reflexión de su capa reflectiva en tonos gris y azul respectivamente.

					h4 Características y ventajas
					Son vidrios de altas prestaciones por lo que a calidad, ahorro energético, estética, facilidad de instalación y mantenimiento se refiere. Por esta razón se utiliza cada vez más la gama de cristales reflectantes, donde se conjugan ventajosamente rentabilidad y competitividad.


					h4 Mejora del confort visual
					p Todo usuario de los cristales reflectivos, podrá disfrutar de una óptima transmisión de la luz diurna, sin desagradables deslumbramientos ni fatiga visual. Al mismo tiempo le permitirá una mayor intimidad evitando que pueda ser observado desde el exterior.

					h4 Máxima protección contra los rayos UV
					p Los cristales reflectantes retienen hasta un 94% de los rayos ultravioletas nocivos, evitando la decoloración y el deterioro de los muebles o tapizados, sin que pueda afectar el crecimiento de las plantas. La absorción de energía por parte de equipos de climatización se reduce al mínimo.

					h4 Estética 
					p Los cristales reflectivos proporcionan una óptima armonía visual en las fachadas de los edificios brindando una imagen corporativa y moderna. 

					h4 Facilidad de manipulación, ensamblaje e instalación
					p El cristal reflectivo puede utilizarse en cristal laminado, monolítico, templado y en doble acristalamiento. Esta versatilidad de aplicaciones así como la facilidad de corte, de mantenimiento y de instalación lo convierten en la solución ideal para cualquier tipo de aplicación.