extends ../_layout/default

block title
	title Vidrios Templados
	meta(name='description', content='#####')

block body	section.slide.slide-small
		.pictures
			+slide-('1','Templados','ban')

	section.vidrios-vidrio
		article.cont-textImg
			header
				h2 Vidrios Templados
				include ../_includes/volver
			.content
				+slide-('1', 'Templados', 'lat')
				.text
					p Son vidrios de seguridad que pasan por un tratamiento térmico y posterior enfriamiento súbito para adquirir dos propiedades principales. La primera, es cuatro veces más duro que un vidrio normal o crudo, lo que le permite ser apto para uso en áreas donde existen riesgos de roturas o en zonas de interacción con las personas. La segunda, si el vidrio templado llegare a romperse, este se fragmentará en miles de pedazos pequeños, minimizando las probabilidades de heridas.

					p El cristal templado, por su seguridad, tiene un uso cada vez más extendido, su resistencia lo hace apto para una serie de aplicaciones como el equipamiento de oficinas, el cerramiento de aberturas, construcciones civiles, puertas internas y externas,  ventanas móviles o paños fijos de grandes dimensiones, frentes de locales, tapas de muebles, mamparas de baño y en todo tipo de obras donde sus propiedades sean requeridas. 