extends ../_layout/default

block title
	title Espejos
	meta(name='description', content='#####')

block body
	//- include ../_pages/laEmpresa-historia

	section.slide.slide-small
		.pictures
			+picture('1','IMPONIENDO UNA TENDENCIA MODERNA Y VISIONARIA')

	section.vidrios-vidrio
		article.cont-textImg
			header
				h2 Espejos
				a.atras(href="productos-vidrios") « VOLVER A PRODUCTOS
			.content
				figure: img(src="http://loremflickr.com/300/350/glasses", alt="")
				.text
					p Con virtudes casi mágicas, el espejo es considerado como el vidrio decorativo por excelencia. Su empleo adecuado permite duplicar o multiplicar las imágenes, creando la ilusión de ambientes más amplios y luminosos, proporcionando a menudo sensaciones espaciales sorprendentes. 
					p Optimirror® Plus es nuestro espejo de calidad premium.  Fabricado con tecnología Coper free y Lead free. Amigable con el medio ambiente, no genera residuos de cobre y plomo.
					p Es producido con cristal float incoloro o color, cuya calidad y durabilidad es comparable al mejor espejo producido en Europa o EE.UU. Posee una exclusiva doble capa de pintura de protección que asegura un espejo con larga vida útil sin que se modifiquen sus aspectos ni sus características.
					p Es más resistente a la humedad, oxidación, formación de manchas, corrosión en los bordes y es apto para procesos de corte, grabado y biselado.





