extends ../_layout/default

block title
	title Perfiles
	meta(name='description', content='#####')

block body
	//- include ../_pages/laEmpresa-historia

	section.slide.slide-small
		.pictures
			include ../_includes/slide-generico

	section.vidrios-vidrio
		article.cont-text
			header
				h2 Perfiles
				//- a.atras(href="productos-vidrios") « VOLVER A PRODUCTOS
			.content
				//- figure: img(src="http://loremflickr.com/300/350/glasses", alt="")
				.text
					p Los perfiles de aluminio se constituyen en el medio principal de construcción contemporáneo, sus prestaciones son capaces de suministrar estructura de instalación desde a hogares hasta a las más desafiantes obras de ingeniería o arquitectura moderna. 


