extends ../_layout/default

block title
	title Vidrios Profilit
	meta(name='description', content='#####')

block body
	figure.slide.slide-small
		.pictures
			+slide-('Profilit','ban','1')

	section.vidrios-vidrio
		article.cont-textImg
			header
				include ../_includes/volver
			.content
				figure.slide.slide-content
					.pictures#pictures
						+slide-('Profilit','lat','1')
						+slide-('Profilit','lat','2')
						+slide-('Profilit','lat','3')
					.slide-navs
				.text
					h2 Profilit
					p El sistema de perfiles autoportantes de vidrio Profilit® es una innovadora y económica alternativa a las técnicas convencionales de cerramiento con vidrio.
					p Su novedosa apariencia visual provee líneas limpias e ininterrumpidas a una fachada, ya que la resistencia mecánica del perfil de vidrio elimina la necesidad de emplear una carpintería convencional para construir cerramientos de grandes dimensiones.
					p Internamente ofrece una superficie vidriada, sin obstrucciones, sutilmente translúcida, que permite el máximo ingreso de luz natural difusa sin producir sombras.
					p El Sistema Profilit® está compuesto por pocos componentes que pueden ser fácilmente adaptados a cualquier diseño y para todo tipo de edificios donde se desea privacidad visual, buena iluminación natural y un bajo costo de obra y de mantenimiento.

