extends ../_layout/default

block title
	title Vidrios Coverglass
	meta(name='description', content='#####')

block body
	//- include ../_pages/laEmpresa-historia

	section.slide.slide-small
		.pictures
			+picture('1','IMPONIENDO UNA TENDENCIA MODERNA Y VISIONARIA')

	section.vidrios-vidrio
		article.cont-textImg
			header
				h2 Vidrios Coverglass
				include ../_includes/volver
			.content
				figure: img(src="http://loremflickr.com/300/350/glasses", alt="")
				.text
					p Coverglass es una colección de vidrios pintados diseñados para sobrepasar los límites de la imaginación y la creatividad decorativa. Colores inspirados en los sueños de Leonardo da Vinci reflejan la luz de una manera inusual creando sensaciones de elegancia y exclusividad en sus ambientes. 
					p Ideal para baños, cocinas, vestidores, frentes de placards, muebles, tapas de mesa y todo tipo de revestimientos innovadores.
					p En proyectos no residenciales, aporta elegancia y jerarquía en recepciones, lobbies, salas de reunión y tabiquería de interiores.
