
extends ../_layout/default

block title
	title Productos Vidrios
	meta(name='description', content='#####')

block body
	figure.slide.slide-small
		.pictures
			+slide('vidriosGral', 'banner-vidrioluz')

	section.vidrios
		h2 Vidrios
		section.folders
			+vidrio('Flotados','Flotados','Flotados')
			+vidrio('Templados','Templados','Templados')
			+vidrio('Laminados','Laminados','Laminados')
			+vidrio('Espejos','Espejos','Espejos')
			+vidrio('Reflectivos','Reflectivos','Reflectivos')
			+vidrio('Impresos','Impresos','Impresos')
			+vidrio('Coverglass','Coverglass','Coverglass')
			+vidrio('Opacid','Opacid','Opacid')
			+vidrio('Profilit','Profilit','Profilit')
			+vidrio('ExtraClaros','Extra Claros','ExtraClaros')
			+vidrio('#','#','#')
			+vidrio('#','#','#')