extends ../_layout/default

block title
	title Herrajes
	meta(name='description', content='#####')

block body
	figure.slide.slide-small
		.pictures
			+slide-('Gral','Herrajes','1')

	section.vidrios-vidrio
		article.cont-textImg
			header
				include ../_includes/volver
			.content
				figure.slide.slide-content
					.pictures#pictures
						+slide-('Gral','Herrajes-lat','1')
						+slide-('Gral','Herrajes-lat','2')
						+slide-('Gral','Herrajes-lat','3')
					.slide-navs
				.text
					h2 Herrajes
					p Es la fuerza que complementa, distingue y hace posible la instalación de vidrios. Tenemos una amplia variedad de soluciones e innovaciones para darle valor a su obra.


