extends ../_layout/default

block title
	title Vidrios Flotados
	meta(name='description', content='#####')

block body
	figure.slide.slide-small
		.pictures
			+slide-('Flotados','ban','1')

	section.vidrios-vidrio
		article.cont-textImg
			header
				include ../_includes/volver
			.content
				figure.slide.slide-content
					.pictures#pictures
						+slide-('Flotados','lat','1')
						+slide-('Flotados','lat','2')
						//- +slide-('Flotados','lat','3')
						//- +slide-('Flotados','lat','4')
						//- +slide-('Flotados','lat','5')
					.slide-navs
				.text
					h2 Flotados
					p Tradicionalmente denominado cristal plano, el vidrio Float o flotado es insustituible cuando se desea obtener una visión clara sin distorsión óptica y constituye la materia prima por excelencia para ser transformado en vidrio templado, laminado, fabricar espejo y manufacturar unidades de doble vidriado hermético.
					h4 Aplicación	
					p Como herramienta de diseño sus posibilidades están sólo limitadas por la creatividad de los usuarios y por los criterios de seguridad, que siempre deben ser tenidos en cuenta en todas las aplicaciones del vidrio plano en arquitectura, vehículos y componentes de equipamiento.




