extends ../_layout/default

block title
	title Perfiles
	meta(name='description', content='#####')

block body
	figure.slide.slide-small
		.pictures
			+slide-('Gral','Perfiles','1')

	section.vidrios-vidrio
		article.cont-textImg
			header
				include ../_includes/volver
			.content
				figure.slide.slide-content
					.pictures#pictures
						+slide-('Gral','Perfiles','b1')
						+slide-('Gral','Perfiles','b2')
					.slide-navs
				.text
					h2 Perfiles
					p Los perfiles de aluminio se constituyen en el medio principal de construcción contemporáneo, sus prestaciones son capaces de suministrar estructura de instalación desde a hogares hasta a las más desafiantes obras de ingeniería o arquitectura moderna. 


