extends ../_layout/default

block title
	title Vidrioluz Servicios
	meta(name='description', content='#####')

block body
	section.slide.slide-small
		.pictures
			+picture('1','IMPONIENDO UNA TENDENCIA MODERNA Y VISIONARIA')
			
	section
		article.cont-text
			h2  Pulido de bordes
			p El pulido de los cantos de los vidrios permite una buena instalación y mejor resistencia, además de sacar la mejor imagen de un cristal, dejándolo brillante para tapas de mesas, pesceras, divisorias o aplicaciones con bordes expuestos 
			h2 Cortes de vidrios
			p Nuestra estructura productiva cuenta con tecnología, experiencia y un grupo humano actualizado. Podemos ofrecer a nuestros clientes precisión, entrega inmediata y calidad en sus pedidos.
			h2 Perforaciones
			p Contamos con las mejores herramientas para acondicionar a los cristales a las más altas exigencias.  
			h4 Aplicaciones 
			ul
				li Laminado
				li Espejos
				li Profilit
				li Opacid
				li Coverglass
