//colores
$color-primary: #060E9F
$color-secundary: #555759
$color-secundary-claro: lighten($color-secundary,20)

$color-text: #555759

$color-oscuro: #222
$color-claro: #fff

$color-accent: $color-primary
$color-bg: #F6F6F8
$color-link: $color-accent
$color-selection: #A79D05

$color-action: $color-primary
$color-facebook: #44619D

//Fuentes

$font-family: "Open Sans" , sans-serif

// Screem
$small-screen: 35rem
$large-screen: 52rem

// Otros
$base-border-radius: 0.5rem
$base-spacing: 1.5em 
$dark-gray: #333 
$light-gray: #DDD 