body
  font-family: $font-family
  font-size: 12px
.wrapper
  display: block
  margin: 0 auto
  min-height: 100vh
  width: 100%
  padding: 0
  max-width: 1024px
  overflow: hidden
  // display: flex
  // flex-direction: column
  // justify-content: space-between

.vidrios h2
  padding: 0 1em 

.cont-text
  max-width: 650px
  width: 95%
  margin: 0 auto
  color: darken($color-text,30)
  margin-bottom: 4em
  h2
    padding: 0

.cont-textImg
  width: 95%
  margin: 0 auto
  color: darken($color-text,30)
  margin-bottom: 4em
  font-size: 1em
  h2
    padding: 0
  h4
    color: darken($color-text,40)
    font-weight: 600
    margin: 0
    font-size: 1.2em
    line-height: 1.2em
  .content
    display: flex
    max-width: 800px
    margin: 0 auto 3em

figure 
  margin: 0 
  position: relative
  width: 300px
  height: 350px
  &:after
    content: ''
    position: absolute
    right: 0
    bottom: 0
    border-top: 0 solid transparent
    border-right: 0 solid transparent
    border-bottom: 20px solid #fff
    border-left: 20px solid transparent
  &:before
    content: ''
    position: absolute
    left: 0
    top: 0
    border-top: 20px solid #fff
    border-right: 20px solid transparent
    border-bottom: 0 solid transparent
    border-left: 0 solid transparent
  img
    display: block
    width: 300px
    height: 100%
    background: lighten($color-text,75)


header
  display: flex
  flex-direction: column
  position: relative
  // background: gold
  @include media($large-screen) 
    align-items: center
    flex-direction: row
    justify-content: space-between
  a.header-Logo
    padding: 2em 
    position: relative
    top: 1em
    @include media($large-screen)
      padding: 1em
    img
      display: block

  nav.header-menu
    width: 100%
    @include media($large-screen)
      width: 50%

    ul.navegador
      // align-items: space-between
      display: flex
      flex-direction: column
      // justify-content: space-between
      list-style: none
      margin: 0
      padding: 0
      width: 100%
      @include media($large-screen) 
        padding: 3em 0
        flex-direction: row
        justify-content: flex-end
        // background: red

      li
        background: lighten($color-text,75)
        margin: 0
        white-space: nowrap
        text-align: left
        width: 100%
        padding: 0 2em
        margin-right: 0
        margin-left: auto
        @include media($large-screen) 
          background: transparent
          padding: 0 0.8em
          width: inherit
      a 
        box-sizing: border-box
        color: lighten($color-text,12)
        display: block
        font-weight: 600
        line-height: 3em
        transition: border-color 0.4s
        @include media($large-screen) 
          border-bottom: 1px solid transparent
          border-top: 1px solid transparent
          line-height: 2em
          padding-top: 0.2em
        &:hover,&:focus
          border-color: lighten($color-text,20)
          // color: lighten($color-text,30)
          text-decoration: none

  .nav-toggle
    position: absolute
    top: 1.8em
    color: $color-text
    text-decoration: none
    font-size: 1.5em
    right: 0
    padding: 0.5em 1em
    background: lighten($color-text,75)


section.slide
  $bd-size: 0.4em
  $bd-box: 200px
  $bd-vertical: -$bd-box/1.6
  $bd-horizontal: -$bd-box/2
  position: relative
  overflow: hidden
  box-sizing: border-box
  .pictures
    height: 400px
    overflow: hidden
  .slide-navs
    position: absolute
    top: 0
    right: 0.5em
    font-size: 3em
    z-index: 6
    .slide_nav
      color: #fff
      display: block
      padding: 0.2em
      display: inline
      margin: 0 0.2em
      line-height: 0.5em
      &:hover,&:focus
        text-decoration: none
        color: #ddd


  .picture
    border-bottom: $bd-size solid $color-primary
    height: 400px
    width: 100%
    position: relative

    img
      display: block
      width: 100%
      height: 100%
      background:
        color: #f1f1f1
        image: url(../img/logo-vidrioluz.png)
        repeat: no-repeat
        position: center center
        size: 50% 

    h3
      $h3-widrh: 100%
      bottom: 0
      color: #fff
      font-size: 1.8em
      font-weight: 300
      left: 50%
      line-height: 1.2em
      margin-left: -($h3-widrh / 2)
      position: absolute
      text-align: center
      text-shadow: 0 1px 2px darken($color-text,20)
      width: $h3-widrh

      @include media($small-screen) 
        font-size: 2.2em
        width: $h3-widrh*0.7
        margin-left: -($h3-widrh*0.7 / 2)

      @include media($large-screen) 
        font-size: 2.8em


  @include media($small-screen) 
    &:after,
    &:before
      background: #fff
      box-sizing: border-box
      content: ''
      height: $bd-box
      position: absolute
      transform: rotate(-35deg)
      width: $bd-box
      z-index: 5
    &:before
      top: $bd-vertical
      left: $bd-horizontal

    &:after
      bottom: $bd-vertical
      right: $bd-horizontal
      border-top: $bd-size solid $color-primary


section.folders
  display: flex
  flex-wrap: wrap
  justify-content: space-around
  .folder
    position: relative
    margin: 0 1em 5em
    figure 
      margin: 0
      position: relative
      width: 200px
      height: 100px
      // &:after
      //   content: ''
      //   position: absolute
      //   right: 0
      //   bottom: 0
      //   border-top: 0 solid transparent
      //   border-right: 0 solid transparent
      //   border-bottom: 20px solid #fff
      //   border-left: 20px solid transparent
      // &:before
      //   content: ''
      //   position: absolute
      //   left: 0
      //   top: 0
      //   border-top: 20px solid #fff
      //   border-right: 20px solid transparent
      //   border-bottom: 0 solid transparent
      //   border-left: 0 solid transparent
      img
      //   display: block
        width: 100%
        // height: 100%
      //   background: lighten($color-text,75)
    h3
      background: #ababab
      color: #fff
      font-weight: 300
      margin: 0
      width: 70%
      padding: 0 0.8em
      position: relative
      &:after
        content: ''
        position: absolute
        right: 0
        bottom: 0
        border-top: 0 solid transparent
        border-right: 0 solid transparent
        border-bottom: 20px solid #fff
        border-left: 20px solid transparent
        
    &:hover
      text-decoration: none
      h3
        background: $color-text
    



footer.footer
  .contactos
    align-items: center
    display: flex
    flex-direction: column
    justify-content: flex-end
    width: 100%
    margin: 1em 0
    text-align: center
    @include media($large-screen) 
      text-align: left
      flex-direction: row
  span,h4
    font-size: 0.9rem
    margin: 0
    padding: 0.5em 0
    line-height: 1em
  a.facebook
    color: $color-text
    font-size: 1rem
    font-weight: 400
    min-width: 200px
    text-align: center
    @include media($large-screen) 
      text-align: left
      margin-bottom: 0
    &:hover
      text-decoration: none
      span
        color: $color-facebook
    span
      font-size: 1.3em
      display: inline
    &:before
      margin: 0 1em
      content:'/'
      display: inline
  h4.fincreativo
    text-align: center
    line-height: 1.2em
    // margin: 0
    a 
      font-weight: 600
      color: $color-text
      text-transform: lowercase
      &:hover
        color: darken($color-primary,20)
        text-decoration: none
        text-transform: uppercase



