body
  font-family: $font-family
  font-size: 16px
.wrapper
  display: block
  margin: 0 auto
  min-height: 100vh
  width: 100%
  padding: 0
  max-width: 1024px
  overflow: hidden
  background: $color-bg
  
.vidrios h2
  padding: 0 1em 

.cont-text
  max-width: 650px
  width: 90%
  margin: 0 auto
  color: darken($color-text,30)
  margin-bottom: 4em
  h2
    padding: 0

.cont-textImg
  margin: 0 auto
  color: darken($color-text,30)
  margin-bottom: 4em
  font-size: 1em
  header
    max-width: 800px
    margin: 0 auto
    @include media($large-screen)
      min-width: 100%
  h2
    padding: 0
  .atras
    line-height: 5em
    padding-top: 1em
    text-align: right
    width: 100%
    i 
      font-size: 1.2em
      margin-right: 0.3em
    &:hover
      text-decoration:  none
      color: $color-selection
  h4
    color: darken($color-text,40)
    font-size: 1.2em
    font-weight: 600
    line-height: 1.2em
    margin: 0
  .content
    max-width: 95%
    margin: 0 auto 3em
    @include media($large-screen) 
      display: flex
      max-width: 100%
      flex-direction: row
      justify-content: space-between
    h2 
      margin-top: 0
    .text
      @include media($large-screen)
        width: 60%
    figure.slide-content
      margin: 0 auto
      padding: 0
      position: relative
      z-index: 0
      width: 350px
      height: 450px
      @include media($small-screen)
        float: right 
        margin-bottom:  0.5em
      @include media($large-screen)
        @include order(2)
        width: 350px  
        float: none
        text-align: right
        margin: 0 0 3em
      img
        width: 100%
        height: 100%
        background: lighten($color-text,55)
    @include media($large-screen) 
      flex-direction: row



