extends ../_layout/novedades

block title
	title Blindex
	meta(name='description', content='#####')


block text
	h2 Conozca las cualidades que BLINDEX Laminado tiene para su hogar
	p Sepa cómo vidriar su espacio y cuáles son las áreas de riesgo ante roturas
	a(href="http://www.blindex.com.ar/productos/blindex-laminado-hogar/" target="_blanck")
		i.fa.fa-link
		| ver Enlace

	h4 Blindex, seguridad para tu hogar
	+youtubeVideo('Qeu9lQ3Du_o')
