extends ../_layout/novedades

block title
	title Instalación de vidrios Profilit
	meta(name='description', content='Instalación de vidrios Profilit')


block text
	h2 Instalación de vidrios Profilit
	+youtubeVideo('6sLnzpjWJh4')
