extends ../_layout/novedades

block title
	title Vidrios Decorativos
	meta(name='description', content='Vidrios Decorativos')


block text
	h2 Video de instalación Vidrio Decorativo tipo revestimiento
	+youtubeVideo('CFNvvxDltOM')
