extends ../_layout/novedades

block title
	title Espejos Optimirror
	meta(name='description', content='#####')


block text
	h2 Espejos Optimirror
	p Le presentamos el Nuevo Espejo Ecológico de VASA - Optimirror Plus fabricado con la tecnología Copper Free (libre de cobre) y Lead Free (libre de plomo), que es amigable con el medio ambiente. Hemos reemplazo nuestra producción de Espejo Mirage por Espejo Optimirror Plus. Lo podrán identificar con la pintura de protección color verde. Les dejamos un link para bajar de la página de VASA el manual de instalación y procesamiento:

	a(href="http://www.vasadelparaguay.com.py/DocVasaPy/pdf/Manual_de_Instalacion_Optimirror-Plus.pdf" target="_blanck")
		i.fa.fa-file-pdf-o
		| Ver PDF
