extends ../_layout/novedades

block title
	title Vidrios seguros
	meta(name='description', content='Vidrios seguros')


block text
	h2 Vidrios seguros
	p Conozca las cualidades de cada tipo de vidrio y su comportamiento ante roturas en este video:
	+youtubeVideo('IuI_kxZw_Lw')