footer.footer
	.contactos
		h4.direccion Médicos del Chaco 2713 c/ M. Mallorquín. Asunción, Paraguay. 
		span.telefono +595 21 
			strong 562 754,  554 998
			a.social.facebook(href="https://www.facebook.com/Vidrioluz-220481667996302" target='_blank')
				span.fa.fa-facebook-square  
				|  vidrioluz
			a.social.instagram(href="https://www.instagram.com/vidrioluz_py/" target='_blank')
				span.fa.fa-instagram
				|  vidrioluz_py
	hr.bottom
	h4.fincreativo Desarrollado por 
		a(href="http://fincreativo.com/" target='_blank') FINCREATIVO