mixin menu-boton(link, name)
	li
		a(href="#{link}.html") #{name}
		block

hr.top
header
	a(href="#").header-Logo
		img(src="assets/img/logo-vidrioluz.png", alt="")
	nav.header-menu
		ul.nav
			+menu-boton('index','INICIO')
			+menu-boton('#','LA EMPRESA')
				ul.sub-nav
					+menu-boton('laEmpresa-Vidrioluz','Vidrioluz')
					+menu-boton('laEmpresa-historia','Historia')
					+menu-boton('laEmpresa-misionVision','Misión-Visión')
					+menu-boton('#','Grupo humano')
						ul.subsub-nav
							+menu-boton('#','Colaboradores')
							+menu-boton('#','Trabaja con nosotros')

			+menu-boton('#','PRODUCTOS')
				ul.sub-nav
					+menu-boton('productos-vidrios','Vidrios')
						ul.subsub-nav
							+menu-boton('productos-vidriosFlotados',		'Flotados')
							+menu-boton('productos-vidriosTemplados',		'Templados')
							+menu-boton('productos-vidriosLaminados',		'Laminados')
							+menu-boton('productos-vidriosEspejos',			'Espejos')
							+menu-boton('productos-vidriosReflectivos',	'Reflectivos')
							+menu-boton('productos-vidriosImpresos',		'Impresos')
							+menu-boton('productos-vidriosCoverglass',	'Coverglass')
							+menu-boton('productos-vidriosOpacos',			'Opacos')
							+menu-boton('productos-vidriosProfilit',		'Profilit')
							+menu-boton('productos-vidriosExtraClaros',	'Extra Claros')
					+menu-boton('herrajes','Herrajes')
					+menu-boton('perfiles','Perfiles')
					+menu-boton('perfinesDeAluminio','Perfiles de Aluminio')

			+menu-boton('#','Aplicaciones')
			+menu-boton('#','Novedades')
			+menu-boton('#','Contactos')