mixin menu-boton(link, name, clase)
	li
		a(href="#{link}.html" class="#{clase}") #{name}
		block

hr.top
header
	a(href="index").header-Logo
		img(src="assets/img/logo-vidrioluz.png", alt="")
	nav.header-menu
		ul.nav
			+menu-boton('index','INICIO')
			+menu-boton('javascript:void(0)','LA EMPRESA','nav-boton')
				ul.sub-nav
					+menu-boton('laEmpresa-vidrioluz','Vidrioluz')
					//- +menu-boton('laEmpresa-historia','Historia')
					+menu-boton('laEmpresa-misionVision','Misión-Visión')
					+menu-boton('javascript:void(0)','Grupo humano','subnav-boton')
						ul.subsub-nav
							+menu-boton('javascript:void(0)','Colaboradores')
							+menu-boton('laEmpresa-Trabaja-con-Nosotros','Trabaja con nosotros')

			+menu-boton('javascript:void(0)','PRODUCTOS','nav-boton')
				ul.sub-nav
					+menu-boton('productos-vidrios','Vidrios','subnav-boton')
						ul.subsub-nav
							+menu-boton('productos-vidriosFlotados',		'Flotados')
							+menu-boton('productos-vidriosTemplados',		'Templados')
							+menu-boton('productos-vidriosLaminados',		'Laminados')
							+menu-boton('productos-vidriosEspejos',			'Espejos')
							+menu-boton('productos-vidriosReflectivos',	'Reflectivos')
							+menu-boton('productos-vidriosImpresos',		'Impresos')
							+menu-boton('productos-vidriosCoverglass',	'Coverglass')
							+menu-boton('productos-vidriosOpacid',			'Opacid')
							+menu-boton('productos-vidriosProfilit',		'Profilit')
							+menu-boton('productos-vidriosExtraClaros',	'Extra Claros')
					+menu-boton('productos-herrajes','Herrajes')
					+menu-boton('productos-perfiles','Perfiles')

			+menu-boton('servicios','Servicios')
			+menu-boton('aplicaciones','Aplicaciones')
			+menu-boton('novedades','Novedades')
			+menu-boton('contactos','Contactos')