script(type='text/javascript',src='https://code.jquery.com/jquery-2.1.4.min.js')
script(type='text/javascript',src='https://maps.googleapis.com/maps/api/js')
script(type='text/javascript',src='assets/js/responsive-nav.min.js')
script(type='text/javascript',src='assets/js/responsiveslides.min.js')      
script(type='text/javascript',src='assets/js/functions.min.js')