include ../_mixins/mixin-pictures

figure.slide
	.pictures#pictures
		+slide('slide', 'Inicio-1')
		+slide('slide', 'Inicio-2')
		+slide('slide', 'Inicio-3')
		+slide('slide', 'Inicio-4')
		+slide('slide', 'Inicio-5')
		+slide('slide', 'Inicio-6')
		+slide('slide', 'Inicio-7')
	.slide-navs