include ../_mixins/mixin-pictures

section.slide
	.pictures
		+slide('1','IMPONIENDO UNA TENDENCIA MODERNA Y VISIONARIA')
		+slide('2','IMPONIENDO UNA TENDENCIA MODERNA Y VISIONARIA')
		+slide('3','IMPONIENDO UNA TENDENCIA MODERNA Y VISIONARIA')
	.slide-navs