include ../_mixins/mixin-pictures

section.slide
	.pictures
		+picture('1','IMPONIENDO UNA TENDENCIA MODERNA Y VISIONARIA')
		+picture('2','IMPONIENDO UNA TENDENCIA MODERNA Y VISIONARIA')
		+picture('3','IMPONIENDO UNA TENDENCIA MODERNA Y VISIONARIA')
	.slide-navs